.search {
    margin:1rem
}
.input {
    padding: 4px;
    margin-right: 1rem;
    
}
.submit-button {
    background-color:#c8b7b5;
    border: 0;
    padding: 6px;
}

.gif-row {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}